<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details Submitted</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../style/pre-interview.css">
</head>
<body class="thanks-body">
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thank-you-message">
                <p>Thanks for choosing <span><b>Danube Group of Companies</b></span>. You'll be contacted shortly by our recruitment department.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
